@charset "utf-8";
body {
    margin: 0;
    
}
/*ヘッダー*/
header {
    background-image: url(IMG/header-back.jpg);
    max-height: 20vh;
    background-size: cover;

    
}
.header-whole {
    background: rgba(84, 20, 119, 0.7);
}
.item2 {
    
    color: #fff;
    margin: 10px;
    padding: 10px;
}
.item2 img{
    width:100px;
}

.item2 {
    display: flex;
    flex-direction: row-reverse;
}
.container {
    display: flex;
    justify-content: space-between;
}
.icon {
    object-fit: cover;
    border-radius: 10%;
}


/*メイン*/

main {
    font-family: 'Zen Kaku Gothic Antique', sans-serif;

    
    background-image: url(IMG/Background.jpeg);
    min-height: 100vh;
    background-size: cover;
    
    
}
.BACK {
    background: rgba(255,255,255,0.5);
    
}
.main-whole {
    display: flex;
    justify-content: space-between;
    
}

article {
    width: 70%;
    padding: 25px;
}
aside {
    width: 30%;
    padding: 25px;
}

.info {
    margin-bottom: 100px;
}
.Deck {
    margin-bottom: 100px;
}
.Deck-img {
    object-fit: cover;
    border-radius: 2%;
    width: 90%;
}
/*フッター*/
footer {
    background: #7b6b7f;
    text-align: center;
    padding: 26px;
}
footer p {
    color: #fff;
    font-size: 0.875rem;
}


